<li>
	{{name}}

	<button class="change-devour btn btn-dark" data-id="{{id}}" data-newdevour="{{devoured}}">
	{{#if devoured}}Another one!{{else}}Let's Eat!{{/if}}
	</button>
<button class="delete-burger" data-id="{{this.id}}">Clear Plate</button>
</li>